<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service examples 2</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../css/pagesStyle.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container-fluid" id="main"  ng-app="servicesDemo">
    <div >
        <h1 id="firstPart">  Table  </h1>
    </div>
    <div class="row">
        <div class="border" style="width: 100%">
            <h3> Click the table headers to change the sort order: </h3> <br>
            <table ng-controller="objectCtrl" class="table table-bordered">
                <tr>
                    <th ng-click="orderElBy(number)"> # </th>
                    <th ng-click="orderElBy('brandName')"> Brand name </th>
                    <th ng-click="orderElBy('color')"> Color </th>
                    <th ng-click="orderElBy('price')"> Price </th>
                </tr>
                <tr ng-repeat="car in cars | orderBy: orderElByCustomProp">
                    <td> {{car.number}}</td>
                    <td> {{car.brandName }}</td>
                    <td> {{car.color}}</td>
                    <td> {{car.price | currency }}</td>
                </tr>
                <tr>
                    <td colspan="3"  ng-click="totalPrice()"> Total Price : </td>
                    <td colspan="1"> {{sum}}</td>
                </tr>
            </table>

        </div>
    </div>
    <div id="nextPage">
        <a href="../index.html"> <img src="../images/NextPage.jpg"> </a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    var app = angular.module("servicesDemo", []);
    app.controller("objectCtrl", function ($scope) {
        $scope.cars=[
            {number : 1, brandName: "Ford", color: "red", price: 21900},
            {number : 2, brandName: "Jeep", color: "black", price: 70000},
            {number : 3, brandName: "Hummer", color: "white", price: 50000},
            {number : 4, brandName: "Audi", color: "grey", price: 18000},
            {number : 5, brandName: "Volkswagen", color: "black", price: 20000},
            {number : 6, brandName: "Mercedes-Benz", color: "yellow", price: 18500}
        ];
        $scope.orderElBy=function(el){
            $scope.orderElByCustomProp=el;
        }

        $scope.totalPrice = function(){
            $scope.sum = 0;
            for(var i = 0; i < $scope.cars.length; i++){

                for(price in $scope.cars){
                    $scope.sum += +price;
                    console.log($scope.sum);
                }

            }
            return $scope.sum;
        }
    });


</script>

</body>
</html>