
<div>
<form name="myForm" class="form-inline">
    <label>
         name:
        <input type="text" class="form-control" name="userName" ng-model="user.name">
    </label>

    <label>
        age:
        <input type="text" class="form-control" name="age" ng-model="user.age">
    </label>
    <label>
        country:
        <input type="text" class="form-control" name="country" ng-model="user.country">
    </label><br>

    <button ng-click="myFunc(user,user._id)">save</button>
</form>
</div>

