<!DOCTYPE html>
<html>
<head>
    <title>Sign Up form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="">
<div class="form-view">
    <h2 class="sub-head">Sign Up</h2>
    <div class="sub-main">
        <form name="myForm">
            <input placeholder="First Name" name="f_name" type="text" ng-model="f_name" ng-minlength="3"
                   ng-maxlength="15" required title="Please enter 3 characters or more.">
            <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
            <br>
            <input placeholder="Last Name" name="l_name" type="text" ng-model="l_name" ng-minlength="3"
                   ng-maxlength="20" required title="Please enter 3 characters or more.">
            <span class="icon2"><i class="fa fa-user" aria-hidden="true"></i></span>
            <br>
            <input placeholder="Phone Number" name="tel" type="tel" ng-model="tel" ng-minlength="9"
                   ng-maxlength="9" required>
            <span class="icon3"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <br>
            <input placeholder="Email" name="email" type="email" title="Please enter a valid email" ng-model="email"
                   required>
            <span class="icon4"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <span ng-show="myForm.email.$error.email" class="not_email"></span>
            <br>
            <input placeholder="Password" name="password" type="password" ng-model="password" required pattern=".{5,}"
                   title="Please enter 5 characters or more.">
            <span class="icon5"><i class="fa fa-unlock" aria-hidden="true"></i></span>
            <br>
            <input placeholder="Confirm Password" name="c_password" type="password" ng-model="c_password"
                   required novalidate>
            <span class="icon6"><i class="fa fa-unlock" aria-hidden="true"></i></span>
            <span ng-show="password !== c_password" class="mis_pwd">Password mismatch</span>
            <br>

            <input type="submit" value="sign up">
        </form>
    </div>
</div>
</body>
</html>