body {
    background: url('bg.jpg') no-repeat 0 87% fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.form-view {
    margin: 1% auto;
    background: rgba(125, 63, 152, 0.52);
    width: 32%;
    font-family: 'Lato', sans-serif;
}

.sub-head {
    font-size: 38px;
    padding: 25px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.sub-main {
    position: relative;
}

/*--icons--*/
.icon1, .icon2, .icon3, .icon4, .icon5, .icon6 {
    position: absolute;
    left: 40px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.83);
    width: 22px;
}

.icon1 {
    top: 12px;
}

.icon2 {
    top: 75px;
}

.icon3 {
    top: 138px;
}

.icon4 {
    top: 201px;
}

.icon5 {
    top: 264px;
}

.icon6 {
    top: 327px;
}

/*--//icons--*/

.sub-main input[type="text"], .sub-main input[type="password"], .sub-main input[type="email"], .sub-main input[type="tel"] {
    outline: none;
    font-size: 1.1em;
    margin: 4px 0px 18px 1px;
    color: black;
    padding: 10px 38px;
    border: none;
    border-radius: 2px;
    width: 68%;
    font-family: 'Lato', sans-serif;
}

.sub-main input[type="submit"] {
    color: white;
    background: #d52685;
    border: none;
    padding: 14px 50px;
    font-size: 22px;
    border-radius: 2px;
    margin: 17px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.sub-main input[type="submit"]:hover {
    background: #d9edf7;
    color: black;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.sub-main input.ng-valid {
    background: #fff url(ico_validation.png) 340px -50px no-repeat;
}

.sub-main input.ng-invalid-email {
    background: #fff url(ico_validation.png) 340px 12px no-repeat;
}

.sub-main input.ng-invalid-minlength {
    background: #fff url(ico_validation.png) 340px -20px no-repeat;
}

.sub-main input.ng-invalid-maxlength {
    background: #fff url(ico_validation.png) 340px 12px no-repeat;
}

.sub-main input.ng-invalid-pattern {
    background: #fff url(ico_validation.png) 340px -20px no-repeat;
}

.mis_pwd {
    color: white;
}