<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/productStyle.css">
    <title>Computers</title>
</head>
<body ng-app="computerApp">
<header>
    <div id="logoContent">
        <div id="logo">
            <img src="../img/logo.png" alt="logo">
        </div>
        <h1> Online shopping </h1>
        <div id="searchDiv">
            <input type="text" class="form-control" id="search" placeholder="Search" ng-model="search">
        </div>
    </div>
</header>
<div class="content">
    <div class="row">
        <aside ng-include="'../flaxPart/menuForPages.html'">

        </aside>
        <article class="col-sm-12  col-xs-10 col-md-10 col-lg-10">

            <div ng-controller="computerCtrl">
                <div class="productClass" ng-repeat="computer in computers | filter: search">
                    <div class="imageClass" ng-click="showFunction()"> <img ng-src="{{computer.image1}}"> </div>
                    <div class="imageClass forHide check-element animate-show-hide"  ng-show="showElem" > <img ng-src="{{computer.image2}}"> </div>
                    <div class="goodProperties">
                        <div class="nameClass"> {{computer.name }} </div>
                        <div class="cdescriptionClass"> {{computer.description}} </div>
                    </div>
                    <div class="priceClass"> {{computer.price | currency : "RU"}} </div>
                </div>
            </div>

        </article>
    </div>
</div>
<footer ng-include="'../flaxPart/footer.html'"></footer>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script>
    var app = angular.module("computerApp", []);
    app.controller("computerCtrl", function ($scope) {
        $scope.computers = [
            {name: "Acer Extensa", description: "Intel Celeron J3060D, 2x1600 МГц, 2 ГБ DDR3, HDD 500 ГБ, Dos", image1: "../img/c1.jpg",  image2: "../img/c1_1.jpg", price: 9999},
            {name: "DEXP Aquilon", description: "Intel Celeron J1800, 2x2410 МГц, 2 ГБ DDR3, HDD 320 ГБ", image1: "../img/c2.jpg", image2: "../img/c2_2.jpg",price: 8000},
            {name: "IRU Office 110", description: "Intel Celeron J3355, 2x2000 МГц, 4 ГБ DDR3, HDD 500 ГБ, Dos", image1: "../img/c3.jpg", image2: "../img/c3_3.jpg", price: 12000},
            {name: "OLDI Celeron", description: "Intel Celeron G1840, 2x2800 МГц, 2 ГБ DDR3, HDD 500 ГБ", image1: "../img/c4.jpg", image2: "../img/c3_3.jpg",price: 13900},
            {name: "DEXP Aquilon", description: "AMD A6 5400B, 2x3600 МГц, 4 ГБ DDR3, HDD 500 ГБ", image1: "../img/c5.jpg", image2: "../img/c4_4.jpg", price: 14999}
        ];
        $scope.showFunction = function () {
            this.showElem = !this.showElem;
        }
    });

</script>

</body>
</html>