<!DOCTYPE html>
<html>
<head>
    <style>
        #book {
            border: 1px solid black;
            color: blue;
        }

        tr td {
            border: 1px solid black;

        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="">

<div ng-init="friends = [{name:'Artyom', phone:'098-02-03-04'},
                         {name:'Mary', phone:'077-12-25-26'},
                         {name:'Karen', phone:'099-45-52-23'},
                         {name:'Adam', phone:'041-25-12-36'},
                         {name:'Marine', phone:'0312-56-89-6'},
                         {name:'Sona', phone:'096-25-64-99'}
                         ]"></div>

<p>Search: <input ng-model="searchText"></p>
<table id="book">
    <tr>
        <th>Name</th>
        <th>Phone</th>
    </tr>
    <tr ng-repeat="friend in friends | filter:searchText">
        <td>{{friend.name}}</td>
        <td>{{friend.phone}}</td>
    </tr>

</body>
</html>