<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Calculator
                <small>Make your life easier :)</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Calculator</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-12">
            <div class="col-md-4 claculatorBody">
                <input type = "text" name = "name" class="form-control" ng-model=""><br>

                <div class="btn styleBtn" ng-model="">Backspace</div>
                <div class="btn styleBtn" ng-model="">Clear</div>
                <div class="btn styleBtn" ng-model="">Cleare All</div><br>
                <div class="btn calcBtn styleBtn" ng-model="">MC</div>
                <div class="btn calcBtn" ng-model="">7</div>
                <div class="btn calcBtn" ng-model="">8</div>
                <div class="btn calcBtn" ng-model="">9</div>
                <div class="btn calcBtn styleBtn" ng-model="">/</div>
                <div class="btn calcBtn styleBtn" ng-model="">Sqrt</div><br>


                <div class="btn calcBtn styleBtn" ng-model="">MR</div>
                <div class="btn calcBtn" ng-model="">4</div>
                <div class="btn calcBtn" ng-model="">5</div>
                <div class="btn calcBtn" ng-model="">6</div>
                <div class="btn calcBtn styleBtn" ng-model="">*</div>
                <div class = "btn calcBtn styleBtn">x<sup>2</sup></div><br>

                <div class="btn calcBtn styleBtn" ng-model="">MS</div>
                <div class="btn calcBtn" ng-model="">1</div>
                <div class="btn calcBtn" ng-model="">2</div>
                <div class="btn calcBtn" ng-model="">3</div>
                <div class="btn calcBtn styleBtn" ng-model="">-</div>
                <div class = "btn calcBtn styleBtn" >1/x</div><br>


                <div class="btn calcBtn styleBtn" ng-model="">M+</div>
                <div class="btn calcBtn" ng-model="">0</div>
                <div class="btn calcBtn styleBtn" ng-model="">.</div>
                <div class="btn calcBtn styleBtn" ng-model="">+-</div>
                <div class="btn calcBtn styleBtn" ng-model="">+</div>
                <div class = "btn calcBtn styleBtn">=</div><br>












            <div>




        </div>







</div>
<!-- /.container -->
