<!-- Page Content -->
<div class="container">
    <!-- /.row -->

        <h1>Windows 10 Calculator</h1>
        <div>
            <div class="calculator" ng-show="standCalc" ng-style="backgroundColor">
                <div>
                </div>
                <div class="divinput"><input type="text" ng-style="backgroundColor" id="myInput"  value="{{output}}"></div>
                <div class="calc">
                    <div class="leftMargin">
                        <button type="button" class="MButton"> MC </button>
                        <button type="button" class="MButton"> MR </button>
                        <button type="button" class="MButton"> M+ </button>
                        <button type="button" class="MButton"> M- </button>
                        <button type="button" class="MButton"> MS </button>

                    </div>
                    <div>
                        <button type="button" class="button Color" ng-click='prosent()'> % </button>
                        <button type="button" class="button Color" ng-click='root()'> √ </button>
                        <button type="button" class="button Color" ng-click="sqrt()">  x <sup>2</sup></button>
                        <button type="button" class="button Color" ng-click='revertNum()'> 1/x </button>
                    </div>
                    <div>
                        <button type="button" class="button Color" ng-click="cleanOneElement()"> CE </button>
                        <button type="button" class="button Color" ng-click="clean()"> C </button>
                        <button type="button" class="button Color" ng-click="backspace()"> ⌫</button>
                        <button type="button" class="button Color" ng-click='operate("/")'> / </button>
                    </div>
                    <div>
                        <button type="button" class="button Color1" ng-click="press('7')"> 7 </button>
                        <button type="button" class="button Color1" ng-click="press('8')"> 8 </button>
                        <button type="button" class="button Color1" ng-click="press('9')"> 9 </button>
                        <button type="button" class="button Color" ng-click='operate("*")'> * </button>
                    </div>
                    <div>
                        <button type="button" class="button Color1" ng-click="press('4')"> 4</button>
                        <button type="button" class="button Color1" ng-click="press('5')"> 5</button>
                        <button type="button" class="button Color1" ng-click="press('6')"> 6</button>
                        <button type="button" class="button Color" ng-click='operate("-")'> -</button>
                    </div>
                    <div>
                        <button type="button" class="button Color1" ng-click="press('1')"> 1 </button>
                        <button type="button" class="button Color1" ng-click="press('2')"> 2 </button>
                        <button type="button" class="button Color1" ng-click="press('3')"> 3 </button>
                        <button type="button" class="button Color" ng-click='operate("+")'> + </button>
                    </div>
                    <div>
                        <button type="button" class="button Color" ng-click="plusAndMnus()"> ± </button>
                        <button type="button" class="button Color1" value="0" ng-click="press('0')"> 0 </button>
                        <button type="button" class="button Color" value="." ng-click="press('.')" > . </button>
                        <button type="button" class="button Color"  ng-click="equal()"> = </button>
                    </div>
                </div>
            </div>


    <!-- /.row -->



</div><!-- /.container -->
