*{
	margin:0 auto;
	padding:0
	}
.main{
	padding:0
		}

.nav{
	width: 1200;
    height: 100px;
    position: relative;
    top: 150px;
    left: 11%;
	}
.backgroundImage{
        width:100%;
		position:absolute;
		}
ul li{
	display:inline;
	font-size:50px;
	list-style-type:none;
	padding-left:53px;
	}

ul li a{
color:#fff
}	
ul li a:hover,ul li a:active, ul li a:visited{
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	}
	
.slogan{
    width: 1037px;
    height: 150px;
    color: #fff;
    position: relative;
    top: 600px;
    left: 10%;
    font-size: 60px;
    font-style: italic;
    margin: 0;
}
