<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div data-ng-app="" data-ng-init="quantity=1;price=5">

    <h2>Cost Calculator</h2>

    Quantity: <input type="number" ng-model="quantity">
    Price: <input type="number" ng-model="price">

    <p><b>Total in dollar:</b> {{quantity * price}}</p>

</div>





<div ng-app="myApp" ng-controller="myCtrl">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{firstName + " " + lastName}}

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.firstName = "poxos";
        $scope.lastName = "petros";
    });
</script>





<div ng-app="mApp" ng-controller="personCtrl">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name: {{fullName()}}

</div>

<script>
    var app = angular.module('mApp', []);
    app.controller('personCtrl', function($scope) {
        $scope.firstName = "poxos";
        $scope.lastName = "petros";
        $scope.fullName = function() {
            return $scope.firstName + " " + $scope.lastName;
        };
    });
</script>





<div ng-app="App" ng-controller="personCtrl">

    <p>The name is {{ lastName | uppercase }}</p>

</div>

<script>
    angular.module('App', []).controller('personCtrl', function($scope) {
        $scope.firstName = "John",
            $scope.lastName = "Doe"
    });
</script>





<div ng-app="aApp" ng-controller="namesCtrl">

    <p>Looping with objects:</p>
    <ul>
        <li ng-repeat="x in names | orderBy:'country'">
            {{ x.name + ', ' + x.country }}
        </li>
    </ul>

</div>

<script>
    angular.module('aApp', []).controller('namesCtrl', function($scope) {
        $scope.names = [
            {name:'Jani',country:'Norway'},
            {name:'Carl',country:'Sweden'},
            {name:'Margareth',country:'England'},
            {name:'Hege',country:'Norway'},
            {name:'Joe',country:'Denmark'},
            {name:'Gustav',country:'Sweden'},
            {name:'Birgit',country:'Denmark'},
            {name:'Mary',country:'England'},
            {name:'Kai',country:'Norway'}
        ];


        iv ng-app="myApp" ng-controller="costCtrl">

            <h1>Price: {{ price | currency }}</h1>

        </div>

        <script>
        var app = angular.module('myApp', []);
        app.controller('costCtrl', function($scope) {
            $scope.price = 158;
        });
</script>




<div ng-app="eApp" ng-controller="namesCtrl">

    <ul>
        <li ng-repeat="x in names | filter : 'i'">
            {{ x }}
        </li>
    </ul>

</div>

<script>
    angular.module('eApp', []).controller('namesCtrl', function($scope) {
        $scope.names = [
            'Jani',
            'Carl',
            'Margareth',
            'Hege',
            'Joe',
            'Gustav',
            'Birgit',
            'Mary',
            'Kai'
        ];
    });
</script>




<div ng-app="amyApp" ng-controller="namesCtrl">

    <p>Type a letter in the input field:</p>

    <p><input type="text" ng-model="test"></p>

    <ul>
        <li ng-repeat="x in names | filter:test">
            {{ x }}
        </li>
    </ul>

</div>

<script>
    angular.module('amyApp', []).controller('namesCtrl', function($scope) {
        $scope.names = [
            'Jani',
            'Carl',
            'Margareth',
            'Hege',
            'Joe',
            'Gustav',
            'Birgit',
            'Mary',
            'Kai'
        ];
    });
</script>







<div ng-app="myApp" ng-controller="namesCtrl1">

    <table border="1" width="100%">
        <tr>
            <th ng-click="orderByMe('name')">Name</th>
            <th ng-click="orderByMe('country')">Country</th>
        </tr>
        <tr ng-repeat="x in names | orderBy:myOrderBy">
            <td>{{x.name}}</td>
            <td>{{x.country}}</td>
        </tr>
    </table>

</div>

<script>
    angular.module('myApp', []).controller('namesCtrl1', function($scope) {
        $scope.names = [
            {name:'Jani',country:'Norway'},
            {name:'Carl',country:'Sweden'},
            {name:'Margareth',country:'England'},
            {name:'Hege',country:'Norway'},
            {name:'Joe',country:'Denmark'},
            {name:'Gustav',country:'Sweden'},
            {name:'Birgit',country:'Denmark'},
            {name:'Mary',country:'England'},
            {name:'Kai',country:'Norway'}
        ];
        $scope.orderByMe = function(x) {
            $scope.myOrderBy = x;
        }
    });
</script>






<ul ng-app="myApp" ng-controller="namesCtrl">
    <li ng-repeat="x in names">
        {{x | myFormat}}
    </li>
</ul>

<script>
    var app = angular.module('myApp', []);
    app.filter('myFormat', function() {
        return function(x) {
            var i, c, txt = "";
            for (i = 0; i < x.length; i++) {
                if (i % 2 == 0) {
                    c = x[i];
                    c = c.toUpperCase();
                }
                txt += c;
            }
            return txt;
        };
    });
    app.controller('namesCtrl', function($scope) {
        $scope.names = [
            'Jani',
            'Carl',
            'Margareth',
            'Hege',
            'Joe',
            'Gustav',
            'Birgit',
            'Mary',
            'Kai'
        ];
    });
</script>



<div ng-app="myApp" ng-controller="customersCtrl">

    <table>
        <tr ng-repeat="x in names | orderBy : 'Country'">
            <td>{{ x.Name }}</td>
            <td>{{ x.Country }}</td>
        </tr>
    </table>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function($scope, $http) {
        $http.get("customers.php")
            .then(function (response) {$scope.names = response.data.records;});
    });
</script>

</body>
</html>