<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <title> Lesson 2 </title>
    </head>
    <body>
    <header>
        <h1>  Controllers </h1>
        <div>  Examples </div>
    </header>
    <div class="container" ng-app="controllersDemo">
        <div class="row border" >
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" ng-controller="addElement">
              <!--  <div ng-init="cars = ['Audi', 'BMW', 'Ferrari', 'Jaguar' , 'Bentley', 'Infiniti']" > </div> -->
                <select class="form-control">
                    <option ng-model="name" ng-repeat="car in cars">{{ car }}</option>
                </select><br>
                <input type="text" name="careName" id="careName" class="form-control" ng-model="name"> <br>
                <input type="button" name="button" id="addButton" value="add" >
                <p> {{name}} </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

            </div>
        </div>

        <div class="row border">
            <div name></div>
            <div>
                <p> Go to next page </p>
                <a href="tableDemo.html"><img  src="../img/next_icon.png" style='float: right';> </a>
            </div>
        </div>
    </div>



    <footer> &copy; Asti </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>


        var app = angular.module('controllersDemo', []);
        var cars = ['Audi', 'BMW', 'Ferrari', 'Jaguar' , 'Bentley', 'Infiniti'];
        app.controller("addElement", function ($scope) {
            $scope.addCar=function(){
                $scope.name.push($scope.cars);
            }
        });

    </script>

    </body>
</html>