<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <title> Lesson 2 </title>
    </head>
    <body>
    <header>
        <h1>  Controllers </h1>
        <div>  Examples </div>
    </header>
    <div class="container" ng-app="controllerDemo">
        <div class="row border">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" ng-controller="hideText">
                <div ng-controller="sayHello"> {{hello}} Astghik </div> <br>
                <div ng-controller="addText">{{text}}</div> <br>
                <input type="button" value="Show Hide DIV" ng-click="hideThis()" />
                <br>
                <div ng-show = "IsVisible">My DIV</div> <br> <br>
                <br> <br>
                <div ng-controller="changeNumber">
                    <input type="number" ng-model="number" >
                    <p > {{ chNumber }} </p>
                </div>


            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" ng-controller="addElement">
                <!--  <div ng-init="cars = ['Audi', 'BMW', 'Ferrari', 'Jaguar' , 'Bentley', 'Infiniti']" > </div> -->
                <!-- I can't realize this part  -->

                <select class="form-control">
                    <option  ng-repeat="car in cars">{{ car }}</option>
                </select><br>
                <input type="text" name="careName" id="careName" class="form-control" ng-model="name"> <br>
                <input type="button" name="button" id="addButton" value="add" ng-click="addCar()">
                <p> {{name}} </p>
            </div>
        </div>

        <div class="row border">
            <div></div>
            <div>
                <p> Go to next page </p>
                <a href="../index.html"><img  src="../img/next_icon.png" style="float: right";> </a>
            </div>
        </div>
    </div>



    <footer> &copy; Asti </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>


        var app = angular.module('controllerDemo', []);

        app.controller("addElement", ['$scope', function ($scope) {
            $scope.cars = ['Audi', 'BMW', 'Ferrari', 'Jaguar' , 'Bentley', 'Infiniti'];

            $scope.addCar=function(){
                $scope.cars.push($scope.name);
            }

        }]);



        app.controller('hideText', function ($scope) {
            $scope.IsVisible = false;
            $scope.hideThis = function () {
                $scope.IsVisible =  true;
            }
        });

        app.controller('sayHello', function ($scope) {
            $scope.hello = 'Hello';
        });

        app.controller('addText', function ($scope) {
            $scope.text = 'This text added by using controller';
        });



        app.controller('changeNumber', ['$scope', function ($scope) {

            $scope.chNumber = function() {
               $scope.newValue = $scope.number + 12;
                return newValue;
            }
        }]);
    </script>

    </body>
</html>