<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <title> Lesson 2 </title>
    </head>
    <body>
    <header>
        <h1>  Filltes </h1>
        <div>  Examples </div>
    </header>
    <div class="container" ng-app="filtersDemo">
        <div class="row border" >
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" ng-controller="orderElement">
                <h4> List of subjects </h4>
                <ul>
                    <li ng-repeat="subject in subjects | orderBy "> {{ subject }} </li>

                </ul>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" ng-controller="orderElement2">
                <h4> Simple table example: orderd by subject name </h4>
                <table class="table table-striped table-bordered">
                    <tr ng-repeat="sub in subjectsTable | orderBy: 'name' ">
                        <td>{{sub.name}}</td>
                        <td>{{sub.marks}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row border" >
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" ng-controller="orderElementTable">
                <h4> table example (using order) </h4>
                <table class="table table-striped table-bordered">
                    <tr>
                        <td> # </td>
                        <td> Name </td>
                        <td> Last name </td>
                    </tr>
                    <tr ng-repeat="student in students | orderBy :'name' ">
                        <td>{{student.h}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.lastName}}</td>

                    </tr>
                </table>
                <h4> Display names of students witch name and last name includes 'g' </h4>
                <ul>
                    <li ng-repeat="student in students | filter : 'g' "> {{student.name}}</li>
                </ul>

            </div>
        </div>

        <div class="row border">
            <div name></div>
            <div>
                <p> Go to next page </p>
                <a href="controllerDemo.html"><img  src="../img/next_icon.png" style='float: right';> </a>
            </div>
        </div>
    </div>



    <footer> &copy; Asti </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>


        var app = angular.module('filtersDemo', []);
        app.controller("orderElement", function ($scope) {
            $scope.subjects = ['English', 'Physics', 'Chemistry', 'Biology', 'Geology', 'Meteorology', 'Physical Science'];
        });
        app.controller("orderElement2", function ($scope) {
            $scope.subjectsTable = [
                {name:'Math',marks:65},
                {name:'Physics',marks:70},
                {name:'Chemistry',marks:80},
                {name:'English',marks:75},
                {name:'literature',marks:67}
            ]
        });
        app.controller("orderElementTable", function ($scope) {
            $scope.students = [
                {h:'1', name:'Asthgik', lastName:'Sarsyan'},
                {h:'3', name:'Manik', lastName:'Minasyan'},
                {h:'4', name:'Lena', lastName:'Hovhannisyan'},
                {h:'1', name:'Mariam', lastName:'Pogosyan'},
                {h:'2', name:'Gohar', lastName:'Hovhanisyan'},

            ]
        });
    </script>

    </body>
</html>