.cars{
    width: 100%;
    height: 15%;
    background-color: #2874F0;
}
#h1{
    color: white;
    padding: 1% 0 0 35%;
    font-size: 70px;
    font-family:monospace;
}
#query{
    margin: -3% 0 0 50%;
    width: 140%;
}
#search{
    margin: -3% 0 0 55%;
}
#sear{
    margin: -14% 0 0 195%;
    background-color: #4687F0;
    width: 40%;
}
#menu{
    width:17%;
    height: 80%;
    background-color: #F6F0F6;
    margin-top: -1.3%;
    border-right: 5px solid #2874F0;
}
#menu_cars{
    text-align: center;
    padding-top: 20%;
    font-size: 30px;
    color: #2874F0;
    
}
#typeCars{
    margin-left: 10%;
    font-size: 20px;
}
.typeCar{
    margin-top:6%;
}
#text{
    width: 83%;
    height: 80%;
    background-color: #F6F0F6;
    margin: -41.3% 0 0 17%;
}
#h2{
    padding: 3% 0 0 35%;
    font-size: 45px;
    color: #D82A2A;
}
#textCar{
    padding: 15px 70px 0 50px;
    font-size: 18px;
}
#end{
    background-color:#2874F0;
    width: 100%;
    height: 10%;
    padding-left: 22%;
    margin-top: -1.3%;
}
#endCar{
    padding-top: 8px;
    color: White;
    font-size: 25px;
}
#author{
    margin-top: -12px;
    color: white;
    font-size: 14px;
}
#menuTest{
    border-top: 5px solid #2874F0;
}




.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 25px; 
    
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}




#social{
    margin-left: 60%;
    margin-top: -5%;
    width: 35%;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}












