<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filter Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body ng-app="app">
<div ng-controller="cont">
    <table class="friends">
        <tr ng-repeat="friend in friends | orderBy:propertyName:reverse">
        <td>{{friend.age}}</td>
    </tr>
        <tr>
            <button ng-click="sortBy('age')">Age</button>
            <span class="sortorder" ng-show="propertyName === 'age'" ng-class="{reverse: reverse}"></span>

        </tr>
    </table>
</div>
<script>
    (function(angular) {
        'use strict';
        angular.module('app', [])
            .controller('cont', ['$scope', function($scope) {
                var friends = [
                    {age: 10},
                    {age: 19},
                    {age: 21},
                    {age: 35},
                    {age: 29},
                    {age: 11},
                    {age: 13},
                    {age: 77},
                    {age: 68},
                    {age: 508},
                    {age: 345},
                    {age: 678}
                ];

                $scope.propertyName = 'age';
                $scope.reverse = true;
                $scope.friends = friends;

                $scope.sortBy = function(propertyName) {
                    $scope.reverse = ($scope.propertyName === propertyName) ? !$scope.reverse : false;
                    $scope.propertyName = propertyName;
                };
            }]);
    })(window.angular);

</script>
</body>
</html>

