body{
    background-image: url(../img/27230051-blackboard-wallpapers.jpg);
    background-size: 100%;
}
nav{
     margin-top: 4%;
}
ul{
   
    list-style: none;
}
ul a{
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
ul a:hover{
    color: coral;
    text-decoration: none;
}
#result{
    margin-left: 30%;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: aliceblue;
    text-align: center;
}