<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body ng-controller="cont" name="form" novalidate>
<table class="table" cellpadding="2" cellspacing="2">
    <thead class="thead-inverse">
    <tr>
        <th>N</th>
        <th>Name</th>
        <th>Surename</th>
        <th>Email</th>
        <th>Age</th>
        <th>Country</th>
        <th>Gender</th>
        <th>Profession</th>
        <th>Delate</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in listProduct">
        <th scope="row">{{product.id}}</th>
        <td>{{product.firstName}}</td>
        <td>{{product.lastName}}</td>
        <td>{{product.email}}</td>
        <td>{{product.age}}</td>
        <td>{{product.country}}</td>
        <td>{{product.gender}}</td>
        <td>{{product.proffesion}}</td>
        <td><button type="button" class="btn btn-outline-danger" ng-click="del(product.id)">Delate</button></td>
        <td><button type="button" class="btn btn-outline-warning" ng-click="edit(product.id)">Edit</button></td>
    </tr>

    </tbody>
</table>
<h3>Product Information</h3>
<table cellpadding="2" cellspacing="2">
    <tr>
        <td>Id:</td>
        <td><input type="number" ng-model="id" placeholder="Your next Id"  name="id"  required>
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td><input type="text" ng-model="firstName" placeholder="Your Name"  name="firstName"  required></td>
    </tr>
    <tr>
        <td>Surename:</td>
        <td><input type="text" ng-model="lastName" placeholder="Your Surename"  name="lastName" required></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="email" ng-model="email" placeholder="Your Email"  name="email"  required></td>
    </tr>
    <tr>
        <td>Age:</td>
        <td><input type="number" ng-model="age"  placeholder="Your age"  name="age"  required></td>
    </tr>
    <tr>
        <td>Country:</td>
        <td><select class="selectpicker" ng-model="country" type="text"  name="country"  required>
            <option>Armenia</option>
            <option>USA</option>
            <option>Italy</option>
            <option>Germany</option>
            <option>Serbia</option>
            <option>Bulgary</option>
            <option>Litva</option>
            <option>Sweden</option>
            <option>Turkey</option>
        </select></td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td><select class="selectpicker" ng-model="gender"  name="gender"  required>
            <option>Female</option>
            <option>Male</option>
            <option>Other</option>
        </select></td>
    </tr>
    <tr>
        <td>Proffesion:</td>
        <td><select class="selectpicker" ng-model="proffesion"  name="proffesion"  required>
            <option>Economist</option>
            <option>Doctor</option>
            <option>Programmer</option>
            <option>Consultant</option>
            <option>Teacher</option>
            <option>Texnolog</option>
        </select></td>
    </tr>
    <tr>
        <td>
            <button type="button" class="btn btn-success" value="add" ng-click="add()" ng-disabled="form.id.$dirty && form.name.$invalid ||
form.email.$dirty && form.email.$invalid">Add Information</button>
        </td>
        <td>
            <button type="button" class="btn btn-success" value="save" ng-click="save()" ng-disabled="form.user.$dirty && form.user.$invalid ||
form.email.$dirty && form.email.$invalid">Save Information</button>
        </td>
    </tr>
</table>
<script>
    var app = angular.module("app",[]);
    app.controller("cont",function ($scope) {

        $scope.listProduct =[

            {   id: 1,
                firstName: "Mariam",
                lastName: "Poghosyan",
                email: "Poghosyan@gmail.com",
                age: 21,
                country: "Armenia",
                gender: "Female",
                proffesion: "Economist"
            }, { id: 2,
                firstName: "Narek",
                lastName: "Karapetyan",
                email: "Karapet@gmail.com",
                age: 23,
                country: "Belgia",
                gender: "Male",
                proffesion: "Programmer"

            },{ id: 3,
                firstName: "Mary",
                lastName: "Saribekyan",
                email: "Mery@gmail.com",
                age: 24,
                country: "USA",
                gender:"Female",
                proffesion:"Economist"
            }
            ,{ id: 4,
                firstName: "Karine",
                lastName: "Rafayelyan",
                email: "Karine@gmail.com",
                age:20,
                country: "Bulgary",
                gender:"Female",
                proffesion:"Doctor"
            }
            ,{ id: 5,
                firstName: "Robert",
                lastName: "Zuhrabyan",
                email: "Rob@gmail.com",
                age:28,
                country: "Italy",
                gender:"Male",
                proffesion:"Consultant"
            }
        ];
        $scope.del = function (id) {
            var index = getSelectedIndex(id);
            $scope.listProduct.splice(index,1);
        };
        function getSelectedIndex(id) {
            for(var i=0; i<$scope.listProduct.length; i++)
                if($scope.listProduct[i].id==id)
                    return i;
                    return -1;
        }
        $scope.edit = function (id) {
            var index =  getSelectedIndex(id);
            var product = $scope.listProduct[index];
            $scope.id =product.id;
            $scope.firstName =product.firstName;
            $scope.lastName =product.lastName;
            $scope.email =product.email;
            $scope.age =product.age;
            $scope.country =product.country;
            $scope.gender =product.gender;
            $scope.proffesion =product.proffesion;

        };
        $scope.add =function (id) {
            $scope.listProduct.push ({
                id:$scope.id,
                firstName:$scope.firstName,
                lastName:$scope.lastName,
                email:$scope.email,
                age:$scope.age,
                country:$scope.country,
                gender:$scope.gender,
                proffesion:$scope.proffesion
            });
            $scope.id = "";
            $scope.firstName='';
            $scope.lastName="";
            $scope.email="";
            $scope.age="";
            $scope.country="";
            $scope.gender="";
            $scope.proffesion="";
        };
        $scope.save = function (id) {
           var index = getSelectedIndex($scope.id);
           $scope.listProduct[index].id =$scope.id;
           $scope.listProduct[index].firstName =$scope.firstName;
           $scope.listProduct[index].lastName =$scope.lastName;
           $scope.listProduct[index].email =$scope.email;
           $scope.listProduct[index].age =$scope.age;
           $scope.listProduct[index].country =$scope.country;
           $scope.listProduct[index].gender =$scope.gender;
           $scope.listProduct[index].proffesion =$scope.proffesion;

        }
    })
</script>

</body>
</html>