<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header"> Calculator </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row padding margin">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <div class="box" ng-show="standCalc">
                <div>
                    <div class="menuDiv" data-toggle="dropdown">
                        <div class="menu"></div>
                        <div class="menu"></div>
                        <div class="menu"></div>
                    </div>
                    <ul class="dropdown-menu dropMenu">
                        <li><div class="menuItems" ng-click="showCalcStandart()">Standard</div></li>
                        <li><div class="menuItems" ng-click="showCalcSyintific()">Scientific</div></li>
                        <li><div class="menuItems">Programmer</div></li>
                        <li><div class="menuItems settings">Settings</div></li>
                    </ul>
                    <div class="history" ng-click="showHistorySt()">
                        <img src="img/historyIcon.png" alt="history">
                    </div>
                </div>
                <div class="display"><input type="text" id="screen1" class="form-control" value="{{output}}"></div>
                <div class="keys">
                    <div>
                        <button type="button" class="mButtons"> MC </button>
                        <button type="button" class="mButtons"> MR </button>
                        <button type="button" class="mButtonsSin darkText"> M+ </button>
                        <button type="button" class="mButtonsSin darkText"> M- </button>
                        <button type="button" class="mButtons">  MS </button>
                        <button type="button" class="mButtons"> M <sup>+</sup>  </button>
                    </div>
                    <div>
                        <button type="button" class="button grey" ng-click='prosent()'> % </button>
                        <button type="button" class="button grey" ng-click='root()'> √ </button>
                        <button type="button" class="button grey" ng-click="sqrNum()">  x <sup>2</sup></button>
                        <button type="button" class="button grey" ng-click='revertNum()'> 1/x </button>
                    </div>
                    <div>
                        <button type="button" class="button grey smallFont" ng-click="cleanLastElement()"> CE </button>
                        <button type="button" class="button grey smallFont" ng-click="clean()"> C </button>
                        <button type="button" class="button grey" ng-click="backspace()"> &#9003;</button>
                        <button type="button" class="button grey" ng-click='operate("/")'> / </button>
                    </div>
                    <div>
                        <button type="button" class="button white" ng-click="press('7')"> 7 </button>
                        <button type="button" class="button white" ng-click="press('8')"> 8 </button>
                        <button type="button" class="button white" ng-click="press(9)"> 9 </button>
                        <button type="button" class="button grey" ng-click='operate("*")'> * </button>
                    </div>
                    <div>
                        <button type="button" class="button white" ng-click="press('4')"> 4 </button>
                        <button type="button"  class="button white" ng-click="press('5')" > 5 </button>
                        <button type="button" class="button white" ng-click="press('6')"> 6 </button>
                        <button type="button" class="button grey" ng-click='operate("-")'> - </button>
                    </div>
                    <div>
                        <button type="button" class="button white" ng-click="press('1')"> 1 </button>
                        <button type="button" class="button white" ng-click="press('2')"> 2 </button>
                        <button type="button" class="button white" ng-click="press('3')"> 3 </button>
                        <button type="button" class="button grey" ng-click='operate("+")'> + </button>
                    </div>
                    <div>
                        <button type="button" class="button grey" ng-click="plusAndMnus()"> ± </button>
                        <button type="button" class="button white" value="0" ng-click="press('0')"> 0 </button>
                        <button type="button" class="button grey" value="." ng-click="press('.')" > . </button>
                        <button type="button" class="button grey"  ng-click="equal()"> = </button>
                    </div>
                </div>
            </div>
            <div class="displayHistory hist1" ng-show="showHistoryWindow1" >{{output}}</div>
            <div class="box2" ng-show="sinCalc" >
                <div>
                    <div class="menuDiv" data-toggle="dropdown">
                        <div class="menu"></div>
                        <div class="menu"></div>
                        <div class="menu"></div>
                    </div>
                    <ul class="dropdown-menu dropMenu">
                        <li><div class="menuItems" ng-click="showCalcStandart()">Standard</div></li>
                        <li><div class="menuItems" ng-click="showCalcSyintific()">Scientific</div></li>
                        <li><div class="menuItems">Programmer</div></li>
                        <li><div class="menuItems settings">Settings</div></li>
                    </ul>
                    <div class="history" ng-click="showHistorySyn()">
                        <img src="img/historyIcon.png" alt="history">
                    </div>
                </div>

                <div class="display"><input type="text" id="screen2" class="form-control" value="{{output}}"></div>
                <div class="keys">
                    <div>
                        <button type="button" class="mButtonsSin" > MC </button>
                        <button type="button" class="mButtonsSin" > MR </button>
                        <button type="button" class="mButtonsSin darkText">  M+ </button>
                        <button type="button" class="mButtonsSin darkText">M-</button>
                        <button type="button" class="mButtonsSin">  MS </button>
                        <button type="button" class="mButtonsSin" > M <sup>+</sup>  </button>
                    </div>
                    <div>
                        <button type="button" class="button grey" ng-click="sqrNum()"> x<sup> 2 </sup> </button>
                        <button type="button" class="button grey"> x<sup> y </sup> </button>
                        <button type="button" class="button grey smallFont" ng-click="MathSin()"> sin </button>
                        <button type="button" class="button grey smallFont" ng-click="MathCos()">  cos </button>
                        <button type="button" class="button grey smallFont" ng-click="MathTan()"> tan </button>
                    </div>
                    <div>
                        <button type="button" class="button grey" ng-click='root()'> √ </button>
                        <button type="button" class="button grey" ng-click="tensq()"> 10<sup> x </sup> </button>
                        <button type="button" class="button grey smallFont" ng-click="Mathlog()"> log </button>
                        <button type="button" class="button grey smallFont">  EXP </button>
                        <button type="button" class="button grey smallFont" ng-click='operate("%")'> MOD </button>
                    </div>
                    <div>

                        <button type="button" class="button grey"> ↑ </button>
                        <button type="button" class="button grey smallFont"> CE </button>
                        <button type="button" class="button grey smallFont" ng-click="clean()"> C </button>
                        <button type="button" class="button grey" ng-click="backspace()"> &#9003; </button>
                        <button type="button" class="button grey" ng-click='operate("/")'> / </button>
                    </div>
                    <div>
                        <button type="button" class="button grey" ng-click="press('3.14')"> π </button>
                        <button type="button" class="button white" ng-click="press('7')"> 7 </button>
                        <button type="button" class="button white" ng-click="press('8')"> 8 </button>
                        <button type="button" class="button white" ng-click="press(9)"> 9 </button>
                        <button type="button" class="button grey" ng-click='operate("*")'> * </button>
                    </div>
                    <div>
                        <button type="button" class="button grey" ng-click="press('4')"> n! </button>
                        <button type="button" class="button white" ng-click="press('4')"> 4 </button>
                        <button type="button"  class="button white" ng-click="press('5')" > 5 </button>
                        <button type="button" class="button white" ng-click="press('6')"> 6 </button>
                        <button type="button" class="button grey" ng-click='operate("-")'> - </button>
                    </div>
                    <div>
                        <button type="button" class="button grey" ng-click="plusAndMnus()"> ± </button>
                        <button type="button" class="button white" ng-click="press('1')"> 1 </button>
                        <button type="button" class="button white" ng-click="press('2')"> 2 </button>
                        <button type="button" class="button white" ng-click="press('3')"> 3 </button>
                        <button type="button" class="button grey" ng-click='operate("+")'> + </button>
                    </div>
                    <div>
                        <button type="button" class="button grey" ng-click="press('(')"> ( </button>
                        <button type="button" class="button grey" ng-click="press(')')"> ) </button>
                        <button type="button" class="button white" value="0" ng-click="press('0')"> 0 </button>
                        <button type="button" class="button grey" value="." ng-click="press('.')" > . </button>
                        <button type="button" class="button grey"  ng-click="equal()"> = </button>
                    </div>
                </div>
            </div>
            <div class="displayHistory hist2" ng-show="showHistoryWindow2">{{output}}</div>
        </div>
    </div>



    <!-- /.row -->



</div><!-- /.container -->
