<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Editor</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.7.1/spectrum.min.csshttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='editor.css'>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>



</head>
<body ng-app='editApp' ng-controller="MyCtrl">
<div class="page">
    <div class="toolbar">
        <button id="bold" title="Bold (Ctrl+B)"ng-click="makeBold()" ><i class="fa fa-bold"></i></button>
        <button id="italic" title="Italic (Ctrl+I)" ><i class="fa fa-italic"></i></button>

        <button id="align-left" title="Left" ><i class="fa fa-align-left"></i></button>
        <button id="align-center" title="Center"><i class="fa fa-align-center"></i></button>
        <button id="align-right" title="Right"><i class="fa fa-align-right"></i></button>
        <button id="list-ul" title="Unordered List" ng-click=''><i class="fa fa-list-ul"></i></button>
        <button id="list-ol" title="Ordered List"><i class="fa fa-list-ol"></i></button>

    </div>

    <div class="editor" contenteditable editor_type_bold>
        <h2>Brownies</h2>
        <h3>Ingredients:</h3>
        <ul>
            <li>½ cup flour</li>
            <li>1 cup sugar</li>
            <li>½ cup butter, melted</li>
            <li>2 eggs</li>
            <li>1/3 cup cocoa powder</li>

        </ul>
        <p>Preheat the oven to <strong>350°F</strong> and grease the baking pan. Combine the flour, sugar and cocoa powder in a medium bowl. In another small bowl, whisk together the butter and eggs. Stir the two mixtures until just combined. Bake the brownies for 25 to 35 minutes. Remove from the oven and let it cool for 5 minutes.</p>
    </div>
</div>



</body>
</html>