<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">What people are saying about us </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row padding margin">
        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6" >
            <div class="imageDiv rounded-circle">
                <img src="img/Luci.png" src="LizaUser">
            </div>
            <div class="textDiv">
                lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
            <div class="nameDiv">
                -- Luci S.
            </div>
            <div class="rating" ng-click="count1 = count1+1">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span> {{count1}}
            </div>
        </div>
        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6" >
            <div class="imageDiv rounded-circle">
                <img src="img/Alex.png" src="LizaUser">
            </div>
            <div class="textDiv">
                lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
            <div class="nameDiv">
                -- Alex M.
            </div>
            <div class="rating" ng-click="count2 = count2+1">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>{{count2}}
            </div>
        </div>

    </div>
    <div class="row padding margin">
        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6" >
            <div class="imageDiv rounded-circle">
                <img src="img/Max.png" src="LizaUser">
            </div>
            <div class="textDiv">
                lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
            <div class="nameDiv">
                -- Max Flex
            </div>
            <div class="rating" ng-click="count3 = count3+1">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>{{count3}}
            </div>
        </div>
        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6" >
            <div class="imageDiv rounded-circle">
                <img src="img/Liza.png" src="LizaUser">
            </div>
            < class="textDiv">
                lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<a href="#">Read more </a>
            </div>
            <div class="nameDiv">
               -- Liza Roberts
            </div>
            <div class="rating" ng-click="count4 = count4+1">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>{{count4}}
            </div>


        </div>

    </div>
    <div class="row padding margin">
        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6" >
            <div class="imageDiv rounded-circle" ng-show="showImg">
                <img src="img/unknownUser.png" src="LizaUser">
            </div>
            <div class="textDiv">
                {{userTestimonial}}
            </div>
            <div class="nameDiv">
                <span ng-show="showLines"> -- </span> {{userName}}
            </div>
            <div class="rating" ng-show="showStar">
                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>{{count4}}
            </div>
        </div>
        <div class="col-xs-6 col-sm-12 col-md-6 col-lg-6" >

        </div>
    </div>
    <div class="row padding margin">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
            <form action="#" method="post">
                <input type="text" name="name" ng-model="name" class="form-control padding margin">
                <textarea class="form-control padding margin" ng-model="testimonial"> </textarea>
                <input type="button" class="btn btn-primary" id="addButton" ng-model="myButton" ng-click="addFunction()" value="Add">
            </form>
        </div>
    </div>
    <!-- /.row -->



</div><!-- /.container -->
